html,
body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: yellow;
}
button {
  background: unset;
  border: unset;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight:100;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}



.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background:orchid;

}


