html,
body {
  padding: 0px;
  margin: 0;
  font-family: Fira Sans, sans-serif;
  background-color: yellow;
}
button {
  cursor: pointer;
  background: unset;
  font-size: 4rem;
  border: unset;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight:100;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

h2 {
  color:red;
  font-size: 100px;
  font-weight: 100;
}
h3 {
  font-family: "Fira Sans Extra Condensed";
  color:red;
  margin:0;
  margin-bottom: 2rem;
  font-weight:900;
  font-size: 2rem;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background:orchid;

}

p {
  margin: unset;
  font-family: "Fira Sans";
  font-size: 15px;
  line-height: normal;
}

span.title {
  color:red;
  font-size: 6rem;
  font-weight: 100;
}
span.content {
  padding-bottom:1rem;
  font-size: 2rem;
  font-weight: 100;
}

