html,
body {
  padding: 0px;
  margin: 0;
  font-family: Fira Sans, sans-serif;
  background-color: yellow;
}
button {
  cursor: pointer;
  background: unset;
  border: unset;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight:100;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

h2 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 3rem;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background:orchid;

}

span.title {
  color:red;
  font-size: 6rem;
  font-weight: 100;
}
span.content {
  font-size: 2rem;
  font-weight: 100;
}

